.shuffledText {
  display: inline-block;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  cursor: pointer;
}

.char {
  display: inline-block;
  font-family: 'Courier New', monospace;
}
